@model JewelryMaking.Models.LocationCreate

@{
    ViewBag.Title = "Create";
}
<style>
    body {
        background-image: url('../../Content/Assets/shelf.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .body-content {
        background-color: white;
        min-width: 500px;
        max-width: 700px;
    }
</style>

<h2>Storage Location Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form>
        <h4>Location Create Menu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(model => model.Kind, htmlAttributes: new { @class = "col-form-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Kind, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kind, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "col-form-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "col-form-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "col-form-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4"> </div>
            <div class="col-md-8">
                <input type="submit" value="Create" class="btn btn-save" />
            </div>
        </div>
    </form>
}

<div>
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-black" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}