@model JewelryMaking.Models.LocationDetail

@{
    ViewBag.Title = "Details";
}
    <style>

        body {
            background-image: url('../../Content/Assets/storage2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .body-content {
            background-color: white;
            min-width: 500px;
            max-width: 700px;
        }
    </style>
<h2>Storage Location Details</h2>

<div>
    <h4>Location Detail Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Kind)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Kind)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Place)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationId }, new { @class = "btn btn-chng" }) |
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-black" })
</p>