@model IEnumerable<JewelryMaking.Models.LocationListAll>

@{
    ViewBag.Title = "Index";
}
    <style>
        body {
            background-image: url('../../Content/Assets/blueGrnRk.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .body-content {
            background-color: white;
            border-bottom: 5px solid black;
            border-left: 5px solid black;
            border-right: 5px solid black;
            border-radius: 0px 0px 15px 15px;
        }
    </style>

<h2>Storage Location Index</h2>

<p>
    @Html.ActionLink("Create New Location", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationId }) |
            @Html.ActionLink("Details", "Details", new { id = item.LocationId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
        </td>
    </tr>
}

</table>