@model IEnumerable<JewelryMaking.Models.SourceListAll>

@{
    ViewBag.Title = "Index";
}
    <style>
        body {
            background-image: url('../../Content/Assets/JewelryBanner.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .body-content {
            background-color: white;
/*            min-width: 500px;
            max-width: 700px;
*/        }
    </style>
<h2>Source Index</h2>

<p>
    @Html.ActionLink("Create New Source", "Create", "", new { @class = "btn btn-save" })
</p>
@*<div class="alert alert-success fade in" role="alert">
    @ViewBag.SaveResult
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
</div>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SourceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowOrLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SourceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowOrLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SourceId }) |
            @Html.ActionLink("Details", "Details", new { id = item.SourceId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SourceId })
        </td>
    </tr>
}
</table>