@model JewelryMaking.Models.StringingMaterialDetail

@{
    ViewBag.Title = "Delete";
}
    <style>
        body {
            background-image: url('../../Content/Assets/leather4.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .body-content {
            min-width: 500px;
            max-width: 700px;
        }
    </style>

    <h2>Stringing Material Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<section>
    <h4>Stringing Material Delete Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.StringingMaterialId)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.StringingMaterialId)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.SourceId)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.SourceId)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>
    </dl>

    <div class="itemImage">
        @if (Model.ImageFile != "")
        {
            <img src="@Model.ImageFile" height=200 width=200 />}
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-rmv" /> |
            @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-black" })
        </div>
    }
</section>