@model JewelryMaking.Models.StringingMaterialDetail

@{
    ViewBag.Title = "Details";
}
<style>
    body {
        background-image: url('../../Content/Assets/leather6.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .body-content {
        background-color: white;
        min-width: 500px;
        max-width: 600px;
    }

    .btn-black {
        color: #FFFFFF;
        background-color: #000000;
        border-color: #130269;
    }
</style>

<h2>Stringing Material Details</h2>

<div>
    <h4>Stringing Material Detail Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.StringingMaterialId)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.StringingMaterialId)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.SourceId)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.SourceId)
        </dd>

        </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StringingMaterialId }, new { @class = "btn btn-chng" }) |
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-black" })
</p>