@model IEnumerable<JewelryMaking.Models.StringingMaterialListAll>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-image: url('../../Content/Assets/JewelLoomInspirations_Header-1024x538.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .body-content {
        background-color: white;
        min-width: 800px;
        max-width: 970px;
        border-bottom: 5px solid black;
        border-left: 5px solid black;
        border-right: 5px solid black;
        border-radius: 0px 0px 15px 15px;
    }
</style>

<h2>Stringing Material Index</h2>

<p>
    @Html.ActionLink("Create New Stringing Material", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StringingMaterialId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StringingMaterialId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StringingMaterialId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StringingMaterialId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StringingMaterialId })
            </td>
        </tr>
    }

</table>