@model IEnumerable<JewelryMaking.Models.StringingMaterialListAll>

@{
    ViewBag.Title = "Index";
}

<h2>Stringing Materials Index</h2>

<p>
    @Html.ActionLink("Create New Stringing Material", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StringingMaterialId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StringingMaterialId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StringingMaterialId}) |
            @Html.ActionLink("Details", "Details", new { id = item.StringingMaterialId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StringingMaterialId })
        </td>
    </tr>
}

</table>