@model IEnumerable<JewelryMaking.Models.StringingMaterialSubTotal>

@{
    ViewBag.Title = "IndexTotal";
}
<style>
    body {
        background-image: url('../../Content/Assets/SLon2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .body-content {
        background-color: white;
        min-width: 800px;
        max-width: 970px;
    }
</style>
<h2>Stringing Material Total</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StringingMaterialId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            @*<th></th>*@
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StringingMaterialId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td> <b>Grand Total:  </b></td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td> <b>@string.Format("{0:C}",@Model.Sum(e => e.SubTotal))  </b></td>
        </tr>
    </tfoot>

</table>
<div>
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-black" })
</div>