@model JewelryMaking.Models.BeadDetail

@{
    ViewBag.Title = "Details";
}
<style>
    body {
        background-image: url('../../Content/Assets/beads4.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .body-content {
        background-color: rgba(181, 170, 145, 1);
        min-width: 500px;
        max-width: 800px;
    }
</style>

<h2>Bead Detail</h2>

<div>
    <h4>Bead Detail Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.BeadId)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.BeadId)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.SubType)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.SubType)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Shape)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Shape)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.SourceId)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.SourceId)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Description)
        </dd>

     </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BeadId }, new { @class = "btn btn-chng" }) |
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-black" })
</p>