@model IEnumerable<JewelryMaking.Models.BeadListAll>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-image: url('../../Content/Assets/kazuri4.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

</style>
<h2>Bead Index</h2>


<div class="row justify-content-between">
    <div class="col-3">
        @Html.ActionLink("New Bead", "Create", "", new { @class = "btn btn-black" })
    </div>
    <div class= "col-3">
        @Html.ActionLink("SubTotal Beads", "IndexTotal", "", new { @class = "btn btn-chng" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BeadId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shape)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BeadId }/*, new { @class = "btn btn-save" }*/) |
                @Html.ActionLink("Details", "Details", new { id = item.BeadId }/*, new { @class = "btn btn-edit" }*/) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BeadId }/*, new { @class = "btn btn-rmv" }*/)
            </td>
        </tr>
    }

</table>
